# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.*

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Node
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Data & outputs
data/
*.tif
*.png
*.jpg
*.html

# Scratch / temp
Untitled*
test_gee.py
ndvi_*.py

# Logs
*.log

*.mp4
earthpulse-ui/public/*.mp4
